@page
@model Console_Manager.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Contact Manager</h1>

<h3>Delete Contact</h3>
<h6>Do you really want to delete this contact? Once deleted it CANNOT BE RECOVERED!</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>First Name</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactManagerModel.FirstName)
        </dd>
        <dt class="col-sm-2">
            <label>Last Name</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactManagerModel.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ContactManagerModel.ContactID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
