@page
@model Console_Manager.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContactManagerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactManagerModel.ContactID" />
            <div class="form-group">
                <label asp-for="ContactManagerModel.FirstName" class="control-label"></label>
                <input asp-for="ContactManagerModel.FirstName" class="form-control" />
                <span asp-validation-for="ContactManagerModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactManagerModel.LastName" class="control-label"></label>
                <input asp-for="ContactManagerModel.LastName" class="form-control" />
                <span asp-validation-for="ContactManagerModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactManagerModel.Phone" class="control-label"></label>
                <input asp-for="ContactManagerModel.Phone" class="form-control" />
                <span asp-validation-for="ContactManagerModel.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactManagerModel.Email" class="control-label"></label>
                <input asp-for="ContactManagerModel.Email" class="form-control" />
                <span asp-validation-for="ContactManagerModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactManagerModel.Category" class="control-label"></label>
                <input asp-for="ContactManagerModel.Category" class="form-control" />
                <span asp-validation-for="ContactManagerModel.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactManagerModel.Organization" class="control-label"></label>
                <input asp-for="ContactManagerModel.Organization" class="form-control" />
                <span asp-validation-for="ContactManagerModel.Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
